/** Import Bootstrap functions */
@import "bootstrap/scss/functions";

/** Import theme variables */
@import "common/variables";

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import highlight.js */
// @import "highlight.js/scss/github-dark-dimmed";

/** Import KaTeX */
@import "katex/dist/katex";

/** Import theme styles */
@import "common/fonts";
@import "common/global";
@import "common/dark";
@import "components/alerts";
@import "components/buttons";
@import "components/blog";
@import "components/code";
@import "components/details";
@import "components/syntax";
@import "components/comments";
@import "components/forms";
@import "components/images";
@import "components/mermaid";
@import "components/search";
@import "components/tables";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/sidebar";

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-1000px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.img-animate-left {
  animation: slideInLeft 2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lead-fade-in {
  animation: fadeIn 2s ease 0.3s both;
}
