{{ define "main" }}
<main class="flex-grow-1">
  <article class="blog-post">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-11">
          <h1 class="blog-title fw-bold mb-3">{{ .Title }}</h1>
          <div class="d-flex align-items-center text-muted mb-5">
            {{ if .Params.authors }}
            <div class="me-3">
              <span class="fw-medium">{{ range $index, $author := .Params.authors }}{{ if gt $index 0 }}, {{ end }}{{
                $author }}{{ end }}</span>
            </div>
            {{ end }}
            <div class="small">
              {{ .ReadingTime }} min read · {{ .Date.Format "Jan 2, 2006" }}
            </div>
          </div>

          {{ if .Params.images }}
          <div class="blog-featured-image mb-5">
            {{- .Scratch.Set "fillImage" "1270x715 Center" -}}
            {{ partial "content/figure.html" . }}
          </div>
          {{ end }}

          <div class="blog-post-content">
            {{ .Content }}
          </div>
        </div>

        <div class="col-md-5">
          <div class="position-sticky" style="top: 2rem;">
            {{ if .Params.tags }}
            <div >
              <h4 class="h5">Tags</h4>
              <div>
                {{ range .Params.tags }}
                <a class="btn btn-sm btn-light me-2 mb-2" href="{{ "/tags/" | absURL }}{{ . | urlize }}/">
                  <span class="text-muted">#{{ . }}</span>
                </a>
                {{ end }}
              </div>
            </div>
            {{ end }}
            {{ partial "sidebar/docs-toc.html" . }}
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
{{ end }}